body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(225.66deg, #F5F6FA 14.14%, #F2F4F9 59.61%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box{
  padding: 2em;
  left: 31px;
  right: 34px;
  top: 63px;
  bottom: 34px;
  /* height: ; */

  background: #FFFFFF;
  /* Subtle drop */

  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.project-title{
  position: absolute;
  width: 443px;
  height: 29px;
  left: 63px;
  top: 95px;

  font-family: San Francisco Text;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #222222;
}

.flex1{
  flex: 1
}

.flex2{
  flex: 2
}


.flex3{
  flex: 3
}



.align-left{
  flex: 1;
  align-content: flex-start
}

.nav-link.active{
  background-color: white !important;
  border-bottom: 2px solid #31BCAB;
  color: #000 !important;
}


.black-text{
  color: #000
}

.nav-item.nav-link a{
  color: #0000 !important;
}

.image-box{
width: 100%;
height: 300px;
border-radius: 6px;
}
/* .center-box{
  margin-bottom: 50px;
  align-content: center;
  width: 312px;
} */

.left-column{
  padding :32px
}

.image-title{
font-family: San Francisco Text;
font-size: 12px;
line-height: 14px;
color: #9A9A9A;
}

.desc-text{
  font-family: San Francisco Text;
  font-size: 16px;
  line-height: 19px;
  color: #9A9A9A;
}

.project-description {
  margin-top: 27px;
  margin-bottom: 27px;
  /* width: 312px; */
}

.more{
  color:#6dbd7f;
}

.project-owner{
  margin-bottom: 27px;

}

.tab-text-style{
  font-family: San Francisco Text;
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A;
}

.project-owner h6{
  font-family: San Francisco Text;
  line-height: 17px;

}


.project-progress{
  color: #9A9A9A;
  margin-bottom: 27px;
  /* width: 312px */

}

.project-progress .progress-title{
  font-family: San Francisco Text;
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A;
}

.progress-bar-color{
  background: #E9E9E9;
}
.progress-timeline{
  background: white;
  border:1px solid #C4C4C4;
  height:25px;
  border-radius: 9px;
  box-sizing: border-box;
}

.progress-metric{
  border-radius: 9px;
  box-sizing: border-box;
}

.stakeholder-image{
  height: 50px;
  width:50px;
  border-radius: 50%
}

.stakeholder-text{
  font-family: San Francisco Text;
font-size: 14px;
line-height: 17px;
/* display: flex; */
align-items: center;

color: #222222;
}

.stakeholder-action{
  font-family: San Francisco Text;
font-size: 12px;
line-height: 14px;
/* display: flex; */
align-items: center;
/* text-align: right; */
}

.goal-card{
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 2em;
  margin: 24px;
}

.goal-title{
  font-family: San Francisco Text;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.metric-title{
  font-family: San Francisco Text;
  font-size: 14px;
  line-height: 17px;


color: #222222;

}

.metric-progress{
  margin-top: 32px;
}

.metric-not-started{
  background: #C4C4C4;
}

.goals{
  padding-left: 1em;
  padding-right: 1em;
}

.goals-heading{
  font-family: San Francisco Text;
  font-size: 15px;
  line-height: 14px;
  color: #9A9A9A;
}

.new-goal-button{
  font-family: San Francisco Text;
  font-size: 15px;
  line-height: 14px;
  text-align: right;
  color: #6EBD7F;
}

/* .project-title{
  font-family: San Francisco Text;
  font-size: 24px;
  line-height: 29px;
  color: #222222; */
  /* padding-top:2.3em; */
/* } */

.has-search input[type=search]{
  background: linear-gradient(191.67deg, #F5F6FA 14.14%, #F2F4F9 59.61%);
  /* border-radius: 4px; */
}
.has-search .form-control-feedback{
  position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.form-inline{
  border-radius: 4px;
}

.table-check-box{
  width: 1.5em;
}

.boxchecker input[type=checkbox] {
  background-color: red;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:black;
}

.tasks-stakeholder-image{
  width: 34px;
  height: 34px;
  display: block;
  margin: auto;
}

.task-name{
  font-family: San Francisco Text;
  font-size: 16px;
  line-height: 19px;

  color: #222222;
}

.project-card {
  padding : 10px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
}

.project-card-image {
  height: 100%;
  width: 100%;
}

.card-project-title{
 font-family: San Francisco Text;
 font-size: 24px;
 line-height: 29px;
}

.location-title{
 font-family: San Francisco Text;
 font-size: 12px;
 line-height: 14px;
 color: #9A9A9A;
}

.project-card{
  padding: 20px;
  background: #fff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  /* height: 250px; */

}

.projects-card-image{
  width: 100%;
  height: 180px;
  /* display: block;
  margin: auto; */
}

.card-project-title{
  font-family: San Francisco Text;
  font-size: 24px;
  line-height: 29px;
}

.location-title{
  font-family: San Francisco Text;
  font-size: 12px;
  line-height: 14px;
  color: #9A9A9A;
}

.circular-progress{
  height: 45px;
  width: 45px;
}

.task-status-text{
  font-family: San Francisco Text;
  font-size: 15px;
  line-height: 14px;
  /* text-align: right; */
  color: rgb(184, 189, 110);
  /* background: rgb(84, 136, 95); */
}

.location-title{
 font-family: San Francisco Text;
 font-size: 12px;
 line-height: 14px;
 color: #9A9A9A;
}