body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(225.66deg, #F5F6FA 14.14%, #F2F4F9 59.61%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box{
  padding: 2em;
  left: 31px;
  right: 34px;
  top: 63px;
  bottom: 34px;
  height: ;

  background: #FFFFFF;
  /* Subtle drop */

  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.project-title{
  position: absolute;
  width: 443px;
  height: 29px;
  left: 63px;
  top: 95px;

  font-family: San Francisco Text;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */


  color: #222222;
}


.align-left{
  align-content: flex-start
}

.nav-link.active{
  background-color: white !important;
  border-bottom: 2px solid #31BCAB;
  color: #31BCAB !important;
}


.black-text{
  color: #0000
}

.nav-item.nav-link a{
  color: #0000 !important;
}

.image-box{
width: 312px;
height: 125px;
border-radius: 6px;
}
.center-box{
  margin-bottom: 50px;
  align-content: center;
  width: 312px;
}

.left-column{
  padding :32px
}

.image-title{
font-family: San Francisco Text;
font-size: 12px;
line-height: 14px;
color: #9A9A9A;
}

.desc-text{
  font-family: San Francisco Text;
  font-size: 16px;
  line-height: 19px;
  color: #9A9A9A;
}

.project-description {
  margin-top: 27px;
  margin-bottom: 27px;
  width: 312px;
}

.more{
  color:#6dbd7f;
}